[submodule ".vim/bundle/vim-less"]
	path = .vim/bundle/vim-less
	url = https://github.com/groenewege/vim-less.git
[submodule ".vim/bundle/vim-ledger"]
	path = .vim/bundle/vim-ledger
	url = https://github.com/ledger/vim-ledger.git
[submodule ".vim/bundle/vim-minizinc"]
	path = .vim/bundle/vim-minizinc
	url = https://github.com/vale1410/vim-minizinc.git
