[submodule ".vim/bundle/vim-less"]
	path = .vim/bundle/vim-less
	url = https://github.com/groenewege/vim-less.git
[submodule ".vim/bundle/vim-ledger"]
	path = .vim/bundle/vim-ledger
	url = https://github.com/ledger/vim-ledger.git
